{% extends "GeneralApp/padre.html" %}

{% load static %}
{% block contenidoVariable %}
<h1 style="color: yellow">Pagina asociado busqueda</h1>
<h1 class="text-primary mb-4">Trabaja con nosotros</h1>
<h1 class="text-white display-3 mb-5">Tambien hay seguro para tu vehiculo!</h1>
<div class="mx-auto" style="width: 100%; max-width: 600px;">
</div>
{% endblock %}

{% block contenidoForms %}
<form action="{% url 'resultadoBusquedaAsociado' %}" method="GET"> 
    <h2>Ingrese los datos</h2>
    <input type="text" name="asociado" placeholder="asociado" id="asociado">
    <input type="submit" value="buscar">


</form>
{% endblock %}