{% extends "GeneralApp/padre.html" %}

{% load static %}
{% block contenidoVariable %}
<h1 style="color: yellow">Pagina usuario busqueda</h1>
<h1 class="text-primary mb-4">Pide asistencia en tu viaje</h1>
<h1 class="text-white display-3 mb-5">Prestamos servicios en 50 estados</h1>
<div class="mx-auto" style="width: 100%; max-width: 600px;">
</div>
{% endblock %}

{% block contenidoForms %}
<form action="{% url 'resultadoBusquedaUsuario' %}" method="GET"> 
    <h2>Ingrese los datos</h2>
    <input type="text" name="usuario" placeholder="usuario" id="usuario">
    <input type="submit" value="buscar">


</form>
{% endblock %}