{% extends "GeneralApp/padre.html" %}

{% load static %}
{% block contenidoVariable %}
<h1 style="color: yellow">Pagina asociado busqueda</h1>
<h1 class="text-primary mb-4">Trabaja con nosotros</h1>
<h1 class="text-white display-3 mb-5">Tambien hay seguro para tu vehiculo!</h1>
<div class="mx-auto" style="width: 100%; max-width: 600px;">
</div>
{% endblock %}

{% block contenidoForms %}
<h1>Resultados de la busqueda "{{asociado}}"</h1>
{% if asociado%}
<ul>

    {% for usuarios in buscar %}
    <li>Nombre: {{usuarios.nombreCompleto}}</li> 
    <li>Nacimiento: {{usuarios.fechaDeNacimiento}}</li>
    <li>Email: {{usuarios.email}}</li> 
    <li>Direccion: {{usuarios.direccion}}</li>
    <li>Telefono: {{usuarios.telefono}}</li> 
    <li>Vehiculo: {{usuarios.modeloCarroCamioneta}}</li>
    <br>

 

    {% endfor %}
</ul>
{% endif %}
<h5>si tienes algun problema para encontrar lo que buscas por favor intentalo de nuevo</h5>
<h5>Intenta con el nombre tal cual fue registrado sin omitir ninguna letra</h5>
<a href="{% url 'busquedaAsociado' %}"> Volver a buscar</a>
{% endblock %}